*
    // font-variant-emoji: text

.lead
    font-style: italic
    margin-top: 0 !important

.page__home
    .hero
        margin-bottom: $spacing3
    
body.image-header
    .hero
        overflow: hidden
        h1,
        hgroup,
        .breadcrumb
            position: relative
            z-index: 10
        figure
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: auto
            height: auto
            z-index: 1
            picture,
            img
                display: block
                width: 100%
                height: 100%
                object-fit: cover
            img
                opacity: 0.3

.hero
    .content
        h1,
        hgroup,
        .lead
            color: white 

main > .blocks, 
body.full-width
    .block + .block-pages
        margin-top: $spacing4
    .block-pages--list 
        .block-content
            grid-gap: 1rem 4rem

.blocks
    .heading
        margin-top: $spacing4